<h2>Venues</h2>

<li><%= link_to "New Venue", new_venue_path %></li>
<li><%= link_to "Delete All Unused", '/venues/delete_all_unused_venues' %></li>

<%= render 'shared/index_venues_table', :venues_group => @venues %>