

<h2> Suggested Events </h2>

<%= @savedEventSearches.each do |ses| %>
	
	 <td><%= link_to ses.bandName, ses %></td>
	
	<%= render 'shared/index_events_table', :events_group => (SuggestedEvent.where(:bandName => ses.bandName)) %> 
	
	<% end %>
