<h1>Admin Summary</h1>

<p>A summary of events saved.</p>
<h2> <%= link_to "Edinburgh", 'edinburgh' %> </h2>
<h2> <%= link_to "Glasgow", 'glasgow' %> </h2>
<h2> <%= link_to "London", 'london' %> </h2>